.nav-buffer {
    width: 100%;
    height: 15vh;
}

* {
    cursor: none;
}

.playlists {
    max-height: 80vh;
}

.title {
    color: #1DB954;
    text-shadow: 0 0 5px #1DB954, 0 0 0.01px #1DB954;
}

.card {
    height: 360px;
    max-height: 60px;
}

@media screen and (min-width: 768px) {
    .card {
        max-height: 200px;
    }
    .card-title {
        font-size: 0.75rem;

    }
}

@media screen and (min-width: 1224px) {
    .card {
        max-height: 240px;
    }
}

@media screen and (min-width: 1480px) {
    .card {
        max-height: 360px;
    }
}

.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: #1DB954;
    display: block;
}

@keyframes slide-down {
    0% { 
        transform: translateY(0); 
    }
    100% { 
        transform: translateY(120vh); 
    }
}